.navbar span {
  width: 80%;
  max-width: 950px;
  margin: auto;
}
.container {
  width: 80%;
  max-width: 950px;
  margin: 24px auto;
}

.container > ul {
  padding: 0;
}
.container > h2 {
  font-size: 60px;
}
.container > p {
  width: 70%;
  font-size: 24px;
  margin-bottom: 2em;
}
.container > ul > li {
  list-style: none;
  font-size: 16px;
  margin: 0.8em 0;
  padding: 10px 24px;
  transition: 0.1s;
  border-radius: 3px;
}
.container > ul > li:hover {
  background-color: hsla(150, 90%, 66%, 0.2);
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item > p {
  opacity: 0.7;
}
.item_title_layout {
  display: flex;
  flex-direction: column;
  margin: 4px;
}

/* TODO: Update this CSS page */
@media (max-width: 650px) {
  .container {
    margin: 0;
    margin-top: 24px;
    width: 100%;
  }
  .container > p,
  .container > h2 {
    text-align: center;
  }

  .container > h2 {
    margin-bottom: 0.4em;
  }

  .container > p {
    width: 100%;
    margin-bottom: 1em;
  }
}
